body {
  margin: 0;
  padding-bottom: 10em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #overlay { 
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0; 
  bottom: 0; 
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
} */
/* 
overlay-text{ 
  position: absolute;
  bottom: 20%;
  left: 50%;
  font-size: 10em; 
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
} */
#next { 
  position: fixed;
  bottom: 10em;
  left: 1em; 
}

footer { 
  position: fixed;
  display: flex;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  height: 5%; 
  width: 100%;
  color: black; 
  text-align: center; 
}
