body {
  margin: 0;
  padding-bottom: 10em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2f323b; */
}
#filler {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: 21%;
  width: 100%;
  color: black;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  height: 100%;
  background-attachment: fixed;
}

#loggin {
  display: flex;
  justify-content: center;
}

#sign-in-form {
  top: 19em;
}
#form {
  position: fixed;
  bottom: 10em;
  left: 3em;
}

#next {
  position: fixed;
  bottom: 10em;
  left: 1em;
}

#sign-in-bg {
  height: 80vh;
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: 1%;
  width: 100%;
  color: black;
  text-align: center;
}
